1GDAW/LMSGI/XML/DTD/Pedido/Pedido.dtd

<!ELEMENT compras (fecha, cliente, pedido, direcciones)>
    <!ELEMENT fecha (#PCDATA)>
    <!ELEMENT cliente (#PCDATA)>
    <!ELEMENT pedido (cantidad, precio)+>
        <!ELEMENT cantidad (#PCDATA)>
        <!ELEMENT precio (#PCDATA)>
    <!ELEMENT direcciones (CP,direccion)>
        <!ELEMENT CP (#PCDATA)>
        <!ELEMENT direccion (#PCDATA)>
